#nabi, #boyd {
  height: 100vh;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 110px;
  position: sticky;
  top: 0px;
}

.menuOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 145px;
  cursor: pointer;
  z-index: -1;
}

.menuChoice {
  font-size: 25px;
  display: flex;
  text-transform: uppercase;
}

.letter {
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  #nabi, #boyd {
    height: auto;
    width: 100vw;
    /* overflow: hidden; */
    /* height: 100vh; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 12.5vw;
    /* position: fixed; */
    /* top: 0px; */
  }

  #nabi {
    background-color: white;
    /* display: flex;
    height: 10vh;
    flex-direction: row;
    align-content: flex-start;
    font-size: 15vw;
    top: 0px;
    position: fixed; */
  }

  #boyd {
    background-color: white;
    /* display: flex; */
    /* height: 100vh; */
    /* background-color: none;
    flex-direction: row; */
    /* align-items: flex-end; */
    /* font-size:15vw; */
    /* top: 0px; */
    /* position: fixed; */
  }

  .menuOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 25vw;
    height: 82.5px;
  }

  .menuChoice {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
  }

  .menuChoice-mobile-home {
    width: 70px;
  }

  .menuChoice-mobile-contact {
    width: 70px;
    /* background-color: red; */
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1625px) {
  .menuOption {
    height: 200px;
    /* background-color: green; */
  }

}
